<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body>

        <nav class="nav bg-dark text-light shadow mb-3">
            <% if(!isConnected){ %>
                <a class="nav-link text-light" href="/user/new">Sign in</a>
                <a class="nav-link text-light" href="/user/login">Login</a>
            <% } %>
            <% if(isConnected){ %>
                <a class="nav-link text-light" href="/user/logout">Log out</a>
                <a class="nav-link text-light" href="/content/dashboard">Dashboard</a>
            <% } %>
        </nav>


